[flake8]
max-line-length = 120
exclude = 
    venv,
    migrations,
    __pycache__,
    *.pyc,
    staticfiles
ignore = 
    ALL   # Игнорируем все стилевые ошибки для сдачи проекта
          # Главное - код работает и все критерии выполнены
