{% extends 'base.html' %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Редактирование профиля</h3>
            </div>
            <div class="card-body">
                <p>Форма редактирования профиля</p>
                <a href="{% url 'users:profile' %}" class="btn btn-secondary">Назад к профилю</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
